// FUENTES
// $font1:;
// $font2:;
// $font3:;

// COLORES
$white: white;
$black: black;
$ligth: rgb(250, 250, 154);
$dark: rgb(16, 0, 67);
$mainColor: pink;
$secondColor: turquoise;

//transparencias
$whiteT: rgba(255, 255, 255, 0.5);
$blackT: rgba(0, 0, 0, 0.5);
$ligthT: rgb(250, 250, 154, 0.5);
$darkT: rgb(16, 0, 67, 0.5);
$mainColorT: rgba(255, 192, 203, 0.5);
$secondColorT: rgba(64, 224, 208, 0.5);
